.parts {
  margin: 20px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  color: white;
  align-items: center;
  padding-top: 30px;
  height: 250px;
}

.parts h2 {
  font-size: 28px;
}

.parts div {
  width: 25%;
  text-align: center;
}

/* .parts div button {
  align-self: center;
  margin: 0, auto;
} */

.parts img {
  max-width: 100%;
}

.imgdiv {
  padding: 50px 0;
  text-align: center;
}
