.parts {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: center;

  height: 250px;
}

.parts h2 {
  font-size: 28px;
}

.parts div {
  width: 25%;
  text-align: center;
}

.parts img {
  max-width: 100%;
}

.imgdiv {
  padding: 50px 0;
  text-align: center;
}
