.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 28px;
}

.section div {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.section h2 {
  text-align: center;
}

.section p {
  text-align: center;
}
