.section {
  padding: 4rem 0;
  /* background: #f8f8f8; */
  height: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.write {
  width: 265px;
  margin: 0px;
  color: white;
}
.write h1 {
  font-size: 65px;
  margin-bottom: 0px;
}
.write p {
  margin-top: 0px;
}

.imgdiv {
  padding: 50px 0;
  text-align: center;
}

.imgdiv img {
  max-width: 60%;
}
